.program-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* Trainer Info Section */
.trainer-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  position: relative; /* Added for positioning arrows */
  align-items: center;
}

.trainer-info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 10px;
  width: 100%; /* Ensures the header takes full width */
  justify-content: center;
}

.trainer-name-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 5px;
  gap: 10px;
}

.course-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 20px;
  overflow: hidden; /* Added to hide overflowing courses */
  position: relative;
}

.trainer-info h3 {
  color: #333;
  font-size: 24px;
}

.trainer-info img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Course Cards */
.course-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  width: 250px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin: 10px;
  box-sizing: border-box;
}

.course-card:hover {
  transform: translateY(-10px);
}

.course-card h3 {
  font-size: 20px;
  color: #444;
  margin-bottom: 10px;
}

.course-card img {
  border-radius: 10px;
  width: 100%;
  max-width: 200px;
  /* height: auto; */
  margin-bottom: 10px;
}

.course-card p {
  margin: 5px 0;
}

/* Navigation Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;

  color: #ff00ff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  margin: 0 10px; /* Added margin to create space between arrows and cards */
}

.arrow.left {
  left: -10px; /* Adjusted for better positioning */
}

.arrow.right {
  right: -10px; /* Adjusted for better positioning */
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .program-container {
    max-width: 100%;
  }
  .trainer-info-header, .trainer-name-img, .course-text {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .trainer-info-header, .trainer-name-img, .course-text {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .trainer-info-header, .trainer-name-img, .course-text {
    flex-direction: column;
    text-align: center;
  }
}
